<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tfazio.mad_assignment">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".activities.Navigation"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Market"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activities.Wilderness"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activities.Overview"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activities.SmellOScope"
            android:label="@string/title_activity_smell_oscope"
            android:theme="@style/MyTheme"></activity>
    </application>

</manifest>